@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;800&display=swap');

.App {
  text-align: center;
}

#sub {
  display: none;
  margin-left: 100px;
  margin-top: 5px;
}

form {
  border: 2px solid rgb(132, 112, 24);
  padding: 30px;
  background-color: transparent;
  border-radius: 10px;
  margin-right: 400px;
  margin-bottom: 250px;
  color: rgb(132, 112, 24);
}

img {
  height: 120px;
  margin-top: 60px;
  border: 1px solid black;
  border-radius: 10%;
}

.App-header {
  padding-left: 400px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('https://images.hdqwalls.com/wallpapers/yellow-flower-fence-dark-black-background-ex.jpg');
}

.Display {
  border: 1px solid rgb(132, 112, 24);
  background-color: transparent;
  width: 700px;
  height: 400px;
  display: flex;
  margin-top: 20px;
  margin-right: 400px;
  border-radius: 10px;
  color: rgb(132, 112, 24);
  box-shadow: 5px 5px 5px rgb(167, 151, 79);
}

span {
  width: 217px;
  text-overflow: ellipsis;
  overflow-x: overlay;
}

.rating {
  margin-left: 17px;
  color: rgb(132, 112, 24);
}

.name {
  margin-left: 10px;
  color: rgb(132, 112, 24);

}

.location {
  margin-left: 9px;
  color: rgb(132, 112, 24);
}

textarea {
  margin-top: 10px;
  border-radius: 5px;
  padding: 5px;
  border: 1px solid rgb(132, 112, 24);
  background-color: transparent;
  color: rgb(132, 112, 24);
}

p {
  margin-top: 1px; 
  margin-left: 25px;
  width: 100px;
}

.para {
  display: block;
  margin-left: 50px;
  margin-top: 10px;
}

.img1 {
  display: block;
  margin: 50px;
}

input {
  border-radius: 5px;
  padding: 5px;
  border: 1px solid rgb(132, 112, 24);
  background-color: transparent;
  color: rgb(132, 112, 24);
}

select {
  border-radius: 5px;
  padding: 5px;
  border: 1px solid rgb(132, 112, 24);
  background-color: transparent;
}

button {
  padding: 10px;
  border-radius: 5px;
  background-color: white;
  border: 1px solid rgb(132, 112, 24);
  background-color: transparent;
  color: rgb(132, 112, 24);

}