@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;800&display=swap');

.App {
  text-align: center;
}

/* #sub {
  display: none;
  margin-left: 100px;
  margin-top: 5px;
}

form {
  border: 2px solid rgb(132, 112, 24);
  padding: 30px;
  background-color: transparent;
  border-radius: 10px;
  margin-right: 400px;
  margin-bottom: 250px;
  color: rgb(132, 112, 24);
}

img {
  height: 120px;
  margin-top: 60px;
  border: 1px solid black;
  border-radius: 10%;
}

.App-header {
  padding-left: 400px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('https://images.hdqwalls.com/wallpapers/yellow-flower-fence-dark-black-background-ex.jpg');
}

.Display {
  border: 1px solid rgb(132, 112, 24);
  background-color: transparent;
  width: 700px;
  height: 400px;
  display: flex;
  margin-top: 20px;
  margin-right: 400px;
  border-radius: 10px;
  color: rgb(132, 112, 24);
  box-shadow: 5px 5px 5px rgb(167, 151, 79);
}

span {
  width: 217px;
  text-overflow: ellipsis;
  overflow-x: overlay;
}

.rating {
  margin-left: 17px;
  color: rgb(132, 112, 24);
}

.name {
  margin-left: 10px;
  color: rgb(132, 112, 24);

}

.location {
  margin-left: 9px;
  color: rgb(132, 112, 24);
}

textarea {
  margin-top: 10px;
  border-radius: 5px;
  padding: 5px;
  border: 1px solid rgb(132, 112, 24);
  background-color: transparent;
  color: rgb(132, 112, 24);
}

p {
  margin-top: 1px; 
  margin-left: 25px;
  width: 100px;
}

.para {
  display: block;
  margin-left: 50px;
  margin-top: 10px;
}

.img1 {
  display: block;
  margin: 50px;
}

input {
  border-radius: 5px;
  padding: 5px;
  border: 1px solid rgb(132, 112, 24);
  background-color: transparent;
  color: rgb(132, 112, 24);
}

select {
  border-radius: 5px;
  padding: 5px;
  border: 1px solid rgb(132, 112, 24);
  background-color: transparent;
}

button {
  padding: 10px;
  border-radius: 5px;
  background-color: white;
  border: 1px solid rgb(132, 112, 24);
  background-color: transparent;
  color: rgb(132, 112, 24);

} */
.blog-preview{

  width: 300px;
  height: 350px;
  border: 1px solid black;
  margin-left: 50px;
  /* justify-content: center; */
  border-radius: 10px;
  margin-top: 50px;
  flex-direction: column;
  text-align: center;
  display: flex;
  box-shadow: 5px 5px black;
  padding: 10px;


}
.blog-preview:hover{
  transform: scale(1.1);
}

img {
  width: 150px;
  height: 150px;
  margin-top: 0px;
  border: 1px solid black;
  border-radius: 10%;
  /* margin-left: 50px; */
  /* text-align: center; */
  

}
.title{
  font-size: 15px;
  width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: auto;
  margin-right: auto;
  
}

.price{
  text-align: center;
}
.blog-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 margin-left: auto;
 margin-right: auto;
}
.navbar{
  background-color: rgb(177, 232, 232);
  
}
.buy{
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  padding: 10px;
  border-radius: 15px;
  border: none;
  background-color: rgb(242, 242, 37);
}
.buy:hover{
  background-color: orange;
}
.login{
  margin-left: 540px;
  width: 100px;
  padding: 10px;
  border-radius: 15px;
  border: none;
  background-color: rgb(61, 197, 197);
  /* margin-top: auto; */
  margin-bottom: 20px;
}
.login:hover{
    background-color: white;
}
.con{
  background-color: aquamarine;
  width: 100px;
  height: 100vh;
}

